# https://esphome.io/components/esp32_camera.html

# setup the esp32_camera components initial parameters
# make sure to use the correct GPIO pins for your particular ESP32 model

esp32_camera:
  id: ${id_prefix}espcam
  name: esp32-s3-cam
  external_clock:
    pin: ${external_clock_pin} #GPIO15
    frequency: ${external_clock_frequency} #20MHz
  i2c_pins:
    sda: ${i2c_pins_sda} #GPIO4
    scl: ${i2c_pins_scl} #GPIO5
  data_pins: [GPIO11, GPIO9, GPIO8, GPIO10, GPIO12, GPIO18, GPIO17, GPIO16] #${data_pins} #substitution do not works
  vsync_pin: ${vsync_pin} #GPIO6
  href_pin: ${href_pin} #GPIO7
  pixel_clock_pin: ${pixel_clock_pin} #GPIO13
  

  
  #reset_pin: no value for my card
  #power_pin: no value for my card
  # Image Settings
  # - these first 5 parameters can only be set by recompiling the code and uploading it to the esp32
  # - this is NOT a limitation of the esp32_camera component.
  #   These parameters are used to define the frame_buffer that captures the images.
  #      And the frame_buffer can't be changed after the setup() function has run.
  # 2024-12-20: setup() calls esp_camera_init(), which is defined in
  #   https://github.com/espressif/esp32-camera/blob/4335c93ec462a379aa2a3d655b8834972d725190/driver/include/esp_camera.h
  #   the comments at the start of this function's definition clearly state that:
  #     - it can only be called once
  #     - it setups the framebuffer (which uses these first 5 parameters)
  #     - and it cannot be de-initialized once it is set
  #   Therefore, changing these parameters on the fly will have no effect
  #   Perhaps this will get changed at some point
  resolution: 800x600 
  #resolution: 320X240 # for testing, quicker screen reactions
  jpeg_quality: 40 #12
  # Frame Settings
  # max_framerate: 10fps
  # idle_framerate: 0.1fps # 10sec
  max_framerate: 1fps
  idle_framerate: 0.1fps # 10sec
  frame_buffer_count: 2

  # The following parameters can be changed on the fly after the camera is started
  #  by calling update_camera_parameters() in lambda
  vertical_flip: false
  horizontal_mirror: false
  # contrast, brightness, & saturation seem to have little to no effect when called using update_camera_parameters()
  #  at least for my camera - esp32-s3-wroom-1 N8R8 from Freenove
  contrast: 0
  brightness: 0
  saturation: 0
  special_effect: NONE
  # exposure settings
  aec_mode: AUTO
  aec2: True
  ae_level: 0
  aec_value: 580
  # gain settings
  agc_mode: AUTO
  agc_gain_ceiling: 8X
  agc_value: 0
  # white balance setting
  wb_mode: AUTO
  # test pattern
  test_pattern: False
  
  
# Include the HTTP Request component in your ESPHome configuration
# http_request:
  # id: my_upload
  # timeout: 10s  # Optional: Adjust the timeout as needed
  # useragent: "ESPHome-GasMeterReader"  # Optional: Set a custom user agent

# Script to take a photo and upload it to a server using HTTP POST
# script:
  # - id: take_photo_and_upload
    # then:
      # - component.update: esp32cam_camera
      # - delay: 5s
      # - camera.take_photo:
          # id: esp32cam_camera
          # filename: "/photo.jpg"
      # - delay: 10s
      # - http_request.post:
          # url: "http://your-server-endpoint/upload"  # Replace with your server URL
          # headers:
            # Content-Type: "multipart/form-data"
          # file:
            # path: "/photo.jpg"  # Path to the file on the ESP32
            # name: "file"  # Field name in the form-data
      # - logger.log: "Photo taken and uploaded successfully."